@model TiendaMP

<div>algo</div>

    @*<form action="/procesar-pago" method="POST">
        <input type="submit" value="pagarMP"/>
        <script src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
                data-preference-id="1">
        </script>
    </form>*@