@model PanelNewTienda.Models.Producto

@{
    ViewData["Title"] = "Crear Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Crear Producto</h3>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CrearProducto" asp-controller="Productos" method="post" enctype="multipart/form-data">


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProducto" />
            <div class="form-group">
                <label asp-for="NombreProducto" class="control-label"></label>
                <input id="NombreProductoInput" asp-for="NombreProducto" class="form-control" required />
                <span asp-validation-for="NombreProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionProducto" class="control-label"></label>
                <input asp-for="DescripcionProducto" class="form-control" />
                <span asp-validation-for="DescripcionProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioProducto" class="control-label"></label>
                <input asp-for="PrecioProducto" class="form-control" />
                <span asp-validation-for="PrecioProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publicado" class="control-label"></label>
                <input type="checkbox" asp-for="Publicado" class="form-check-label" />
                <span asp-validation-for="Publicado" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="IdTienda" />


            <div class="card-group">
                <div class="card" style="width: 10rem;">
                    @{

                        
                            <div id ="textDanger" class="text-danger">El producto no tiene imagenes</div>
                        


                        string n1 = Model.IdTienda.ToString();
                        string n2 = Model.IdProducto.ToString();
                        string name = n1 + n2;
                <div class="form-group card-body">
                    <label class="btn btn-dark" style="cursor: pointer" for="@name">Cargar Imagen</label>
                    <input style="position:absolute; width:0.1px; height:0.1px ;overflow:hidden; opacity:0" asp-for="Imagen1" type="file" id="@name" name="@name" accept="image/*" onchange="loadFile(event)" />
                    <img id="output" width="200" />
                </div>


                    }

                </div>
            </div>


            <div class="form-group">
                <input id="botonEnviar" type="submit" value="Guardar" class="btn btn-primary" onclick="validarNombre()" />
            </div>





            @*<p><input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;"></p>
            <p><label for="file" style="cursor: pointer;">Upload Image</label></p>
            <p><img id="output" width="200" /></p>*@







        </form>
    </div>
</div>

<div class="mb-3">
    <a asp-controller="Vendedores" asp-action="Productos">Regresar</a>
</div>








<script>
  
    var inputParaValidar = document.getElementById("NombreProductoInput");

    function validarNombre() {
        var inputParaValidar = document.getElementById("NombreProductoInput");

        if (inputParaValidar.value == "") {
                inputParaValidar.setCustomValidity("campo vacío invalidooooo");
        } else {
            inputParaValidar.setCustomValidity(""); 
            console.log("todo bien");
        }

    }




    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
        var textDanger = document.getElementById('textDanger');
        textDanger.innerHTML = "";
    };







</script>