@model PanelNewTienda.Models.Producto

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Editar Producto</h3>


<hr />
<div class="row">
    <div class="col-md-4">

       

        <form asp-action="EditarProducto" asp-controller="Productos" method="post" enctype="multipart/form-data">




            <div class="card-group">

                <div class="form-group w-100">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultChecked2" asp-for="Publicado">
                        <label asp-for="Publicado" class="custom-control-label" for="defaultChecked2">Publicar Producto</label>
                    </div>
                </div>



                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdProducto" />
                <input type="hidden" asp-for="IdTienda" />

                <div class="form-group">
                    <label asp-for="NombreProducto" class="control-label"></label>
                    <input asp-for="NombreProducto" class="form-control" />
                    <span asp-validation-for="NombreProducto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DescripcionProducto" class="control-label"></label>
                    <input asp-for="DescripcionProducto" class="form-control" />
                    <span asp-validation-for="DescripcionProducto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrecioProducto" class="control-label"></label>
                    <input asp-for="PrecioProducto" class="form-control" />
                    <span asp-validation-for="PrecioProducto" class="text-danger"></span>
                </div>







                <div class="form-group w-100">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>


            </div>

          



            <div class="card-group">
                <div class="card" style="width: 18rem;">
                    @{

                        if (Model.Imagen1 != null)
                        {
                            string imageBase64Data = Convert.ToBase64String(Model.Imagen1);
                            string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
                            <img class="card-img-top" src="@imageDataURL" width="150">
                        }
                        else
                        {
                            <div class="text-danger">El producto no tiene imagenes</div>
                        }




                    }

                    @*@Html.Partial("_cargarImagen", new ProdAux { IdDelProducto = Model.IdProducto, IdDeTienda = Model.IdTienda })*@
                    <partial name="_cargarImagen" model='new ProdAux { IdDelProducto = Model.IdProducto, IdDeTienda = Model.IdTienda }'>

                </div>
            </div>





        </form>


    </div>
</div>

<div class="mb-3">
    <a asp-controller="Vendedores" asp-action="Productos">Regresar</a>
</div>

