@model PanelNewTienda.Models.RedSocial
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="card-deck">



     





            <form asp-action="EditarRedesSociales" asp-controller="Vendedores" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdRedSocial" />
               
                <div class="card border-secondary mb-3">
                    <div class="card-header">
                        Tus Redes Sociales
                    </div>
                    <ul class="list-group list-group-flush">


                        <li class="list-group-item">
                            <i class="fa fa-facebook"></i> :
                            <input asp-for="Facebook" class="form-control" />
                            <span asp-validation-for="Facebook" class="text-danger"></span>
                        </li>

                        <li class="list-group-item">
                            <i class="fa fa-instagram"></i> :
                            <input asp-for="Instagram" class="form-control" />
                            <span asp-validation-for="Instagram" class="text-danger"></span>
                        </li>

                        <li class="list-group-item">
                            <i class="fa fa-whatsapp"></i> :
                            <input asp-for="Whatsapp" class="form-control" />
                            <span asp-validation-for="Whatsapp" class="text-danger"></span>
                        </li>

                        <li class="list-group-item">
                            <i class="fa fa-twitter"></i> :
                            <input asp-for="Twitter" class="form-control" />
                            <span asp-validation-for="Twitter" class="text-danger"></span>
                        </li>

                        <li class="list-group-item">
                            <i class="fa fa-envelope"></i> :
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </li>


                    </ul>
                    <div class="card-footer">
                        <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
                    </div>
                </div>



            </form>





    </div>